a.news {
    margin: 15px 0;
    border: 1px solid #80cbff;
    padding: 0 15px 15px;
    display: inline-block;
    text-decoration: none;
    color: black;
}

div.article {
    padding: 15px 5px;
    text-indent: 1.5em;
    text-align: justify;
}